@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$Roboto: 'Roboto', sans-serif;

body {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0; 
    font-family: $Roboto
}

.Article {
    background-color: white;
    color: black;
    width: 300px; 
    padding: 20px; 
    border-radius: 10px;
    
    article {
        display: flex;
        flex-direction: column; 

        img {
            width: 100%; 
            align-self: center;
            margin-bottom: 10px; 
            border-radius: 5px;
        }

        .AlbumName {
            text-align: left;
        }
    }

    .rate {
        text-align: center; 
        box-icon:hover{
            fill: red;
            scale: 1.5;
        }
    }
}
